@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
    --primary-color: #fff;
    --ligth-gray: #f6f6f6;
    --gray: #cccccc;

    --main-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);  
}

.header_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--primary-color);
}

.primary_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 11px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--gray);
}

.dafiti_logo {
    width: 240px;
}

.dafiti_logo img {
    width: 92px;
    height: 32px;
}

.header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.search_input {
    width: 400px;
    display: flex;
    align-items: center;
}

input {
    width: 380px;
    height: 26px;
    font-size: 12px;
    border: 1px solid var(--gray);
    outline: none;
    background-color: var(--ligth-gray);

    &::placeholder {
        padding: 5px;
    }
}

.search_button { 
    width: 38px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: rgb(177, 176, 176);
}

.search_icon {
    width: 14px;
    height: 14px;
}

.header_quick_links {
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 34px;
}

.login {
    display: flex;
    align-items: center;
}

.header_quick_links a {
    text-decoration: none;
    color: black;
}

.arrow_icon {
    width: 7px;
    height: 7px;
}

.quick_links {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 111px;
}

.quick_links img {
    width: 22px;
    height: 22px;
}

.nav_list {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 11px;
    border-bottom: 1px solid var(--gray);

    &:hover {
        font-weight: 400;
        color: black;
    }
}

.nav_list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    list-style-type: none;
    font-size: 13px;
}

.nav_list a {
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.principal_banner  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop {
    width: 100%;
    height: 100%;
}

.mobile {
    display: none;
}

.brands {
    width: 100%;
    padding-top: 20px;
}

.list_of_brands {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

.list_of_brands li {
    height: 98px;
}

.list_of_brands img {
    width: 98px;
    height: 98px;
} 

.other_brands {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding-top: 20px;
}

.two_brands {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img_wrap {
    position: relative;
    width: 100%;
    display: flex;
}

.img_description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    visibility: hidden;
    opacity: 0;  
    transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
    height: 55px;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transform: translateY(244px);
    -webkit-transform: translateY(244px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.img_title {
    font-size: 16px;
}

.img_paragraph {
    font-size: 14px;
    text-decoration: none;
}

.img_paragraph a {
    text-decoration: none;
    color: #fff;
}

.converse {
    display: flex;
    align-items: center;
}

.footer_informations {
    width: 100%;
    height: 24px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid var(--gray);
}

.all_informations {
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment_method {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment_method img {
    width: 36px;
    height: 22px;
}

.gfg_logo img {
    width: 71px;
    height: 20px;
}

.footer_international {
    width: 302px;
    display: flex;
}

.footer_international p {
    font-size: 11px;
    font-weight: bold;
}

.other_countries {
   width: 100px; 
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   list-style-type: none;
}

.other_countries img {
    width: 24px;
    height: 15px;
}

.licenses {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 25px;
}

.licenses p {
    font-size: 10px;
    font-weight: bold;
    color: #85858585;
}

.security {
    width: 924px;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid var(--gray);
}

.certificates {
    display: flex;
}

.certificates p {
    font-size: 11px;
    font-weight: bold;
    color: black;
}

.certificates_links { 
    width: 392px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
} 

.footer-about-dafiti {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-about-dafiti {
    border-top: 1px solid var(--gray);
    padding: 10px 0 5px 0;
}

.dades {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: #ADADAD;
}

.dades a {
    text-decoration: none;
    color: #ADADAD;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .header_menu {
        z-index: 1;
    }

    .primary_header {
        flex-direction: column;
        margin-top: 0;
        height: 116px;
    }

    .dafiti_logo {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .header_right {
        align-items: center;
        flex-direction: column-reverse;
        width: 400px;
    }

    .nav_list {
        height: 58px;
    }

    .nav_list ul {
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 122px;
    }

    .list_of_brands {
        display: grid;
        grid-template-columns: repeat(4, 0fr);
    }

    .two_brands img {
        width: 400px;
    }

    .converse img {
        width: 400px;
    }

    .all_informations {
        justify-content: center;
    }

    .security {
        flex-direction: column;
        align-items: center;
    }

    .certificates {
        padding-top: 20px;
    }

    .dades {
        width: 400px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .header_menu {
        z-index: 1;
    }

    .primary_header {
        flex-direction: column;
        margin-top: 0;
        height: 106px;
    }

    .dafiti_logo {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .header_right {
        align-items: center;
    }

    .nav_list ul {
        padding: 0 10px;
    }

    .desktop {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 122px;
    }
    
    .mobile {
        display: none;
    }

    .security {
        flex-direction: column;
        align-items: center;
    }

    .certificates {
        padding-top: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .header_menu {
        z-index: 1;
    }

    .list_of_brands {
        display: grid;
        grid-template-columns: repeat(4, 0fr);
    }

    .other_brands {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 2000px) {
    .header_menu {
        z-index: 1;
    }
}